# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea
/data/手写数字识别.csv
/data/手写数字识别 - 副本.csv
/data/model.pkl
/data/stand.pkl
/data/train_stats.pkl
